
* {
    margin: 0%;
}

header {
    background-image: url(assets/image-header.png);
    background-color: black;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;

}

nav {
    height: 260px;
}


.dmsans {
    font-family: "DM Sans", sans-serif;
    color: white;

}

.poopins {
    font-family: "Poppins", sans-serif;
    color: white;
    text-transform: uppercase;

}

.inline {
    display: inline-block;
}

#titre {
    margin-top: -40px;
    font-size: 160px;
    font-style: normal;
}

.droite {
    text-align: right;
    margin-top: -40px;
    margin-right: 20px;
}

#ul1 {
    display: inline-flex;
    text-align: right;

}

.li1 {
    display: inline-block;

}

.navi {
    text-decoration: none;
    padding: 20px;
}

#logohead {
    text-align: left;
    margin-top: 60px;
    margin-left: 90px;
}

#cheader {
    margin: auto;
    width: 650px;
    height: 450px;

}

h1 {
    font-size: 53px;
    font-weight: 400;
}

#unh2 {
    font-size: 28px;

}

.tigras {
    font-weight: 400;
    display: block;
}

#buton {
    word-spacing: 15px;
    margin-left: 330px;
    width: 400px;
}

#button1 {
    border: 5px rgb(14, 14, 14) solid;
    background-color: rgb(14, 14, 14);
    color: white;
    border-radius: 4px;
    padding: 5px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

#button2 {
    border: 5px white solid;
    background-color: white;
    color: rgb(14, 14, 14);
    border-radius: 4px;
    padding: 5px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    word-spacing: 2px;
}

#blackbg {
    background-color: black;
    padding: 130px;
}
.deuxh2 {
    text-align: left;
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 400;
}

.para1 {
    font-size: 20px;
    text-align: left;
}

.centre{
    text-align: center;
}

#banniere {
    width: 99vw;
}

#blackbg2 {
    background-color: black;
    text-align: center;
    color: white;
}


.test2 {
    display: block;
    text-align: left;
    width: 250px;
    margin: auto;
    line-height: 30px;
}
.gras {
    font-weight: bold;
}